# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.env/
.venv/
venv/
ml_doping/

# Logs
logs/
*.log

# Workflow inputs
input.toml

# Workflow outputs
random_structures/
reference_structures/
database/
generated_surfaces/
*.csv
scaling_test.dat
Sb*/
Ti*
sampling_convergence/
sequential_structures/
Mn*/
alloy_hull_summary.json
phase_diagrams/

# IDE
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Documentations
docs/build/
todo.txt
reports/

Monte-carlo-vacancies/
